In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("test.csv")

In [6]:
df

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,50785,0.0,2013-02-04,548.0,1996,2204.0,35.290799,-4.059696e+00,22264,0,...,5,0,0,3,3,6,4,2,3,3
1,51630,0.0,2013-02-04,952.0,1569,2396.0,36.656709,-3.309214e+00,926,0,...,5,0,0,1,1,1,1,1,1,1
2,17168,0.0,2013-02-01,NaN,1567,NaN,34.767863,-5.004344e+00,10761,0,...,5,0,0,1,1,6,4,2,3,3
3,45559,0.0,2013-01-22,1818.0,267,1477.0,38.058046,-9.418672e+00,33286,0,...,3,0,0,0,0,4,2,1,3,3
4,49871,500.0,2013-03-27,1658.0,1260,2052.0,35.006123,-1.095041e+01,25929,0,...,2,0,0,2,2,1,1,1,1,1
5,52449,0.0,2013-03-04,952.0,1685,2396.0,36.685279,-3.302420e+00,34449,0,...,5,0,0,2,2,1,1,1,1,1
6,24806,0.0,2011-03-02,952.0,550,1770.0,36.398041,-7.541382e+00,18590,0,...,5,5,3,2,2,2,6,1,0,0
7,28965,0.0,2013-01-25,1503.0,234,444.0,39.607420,-1.089379e+01,16087,0,...,5,0,0,0,0,2,6,1,4,1
8,36301,30.0,2013-01-23,655.0,584,1525.0,39.262951,-1.082359e+01,1391,0,...,1,0,0,1,1,1,1,1,1,1
9,54122,0.0,2013-03-18,361.0,1083,1993.0,37.096108,-3.251754e+00,40157,0,...,2,0,0,2,2,1,1,1,1,1
10,419,5.0,2013-10-03,1978.0,1259,18.0,37.233248,-3.241121e+00,44625,0,...,1,0,0,2,2,1,1,1,1,1
11,45750,0.0,2013-02-27,1624.0,608,1565.0,37.686392,-4.555975e+00,36315,0,...,5,0,0,0,0,6,4,2,3,3
12,653,0.0,2012-10-11,1295.0,0,534.0,33.661074,-4.165720e+00,710,0,...,3,0,0,0,0,2,6,1,4,1
13,14017,0.0,2011-07-29,53.0,0,2396.0,33.007680,-3.209529e+00,22278,0,...,1,0,0,2,2,2,6,1,4,1
14,44607,1000.0,2011-03-02,842.0,1625,1417.0,35.615624,-7.870290e+00,18590,0,...,2,0,0,2,2,1,1,1,1,1
15,40228,1200.0,2013-06-03,842.0,916,2396.0,35.482886,-1.091260e+01,18988,0,...,4,0,0,2,2,8,0,2,4,1
16,27714,0.0,2011-02-24,NaN,-39,NaN,39.850190,-7.727946e+00,16236,0,...,5,0,0,2,2,4,2,1,0,0
17,28785,200.0,2011-03-11,952.0,1793,2396.0,38.254024,-4.565802e+00,35055,0,...,2,0,0,2,2,1,1,1,1,1
18,28330,0.0,2012-10-06,2085.0,0,2396.0,31.586798,-3.387808e+00,37954,0,...,3,0,0,3,3,6,4,2,1,1
19,18532,0.0,2013-02-02,1503.0,368,444.0,39.438526,-1.058337e+01,39004,0,...,5,0,0,0,0,2,6,1,1,1
20,69961,0.0,2013-03-12,562.0,-27,613.0,39.322307,-6.850262e+00,36315,0,...,5,0,0,2,2,2,6,1,1,1
21,55083,0.0,2011-03-07,524.0,1674,2396.0,34.943620,-9.352515e+00,18590,0,...,5,0,0,1,1,1,1,1,1,1
22,8691,0.0,2013-02-04,1891.0,1087,2396.0,31.046088,-5.054196e+00,40965,0,...,3,1,4,2,2,4,2,1,3,3
23,30331,0.0,2013-02-09,NaN,1441,NaN,34.621048,-5.165926e+00,29152,0,...,3,6,2,0,0,2,6,1,1,1
24,70970,0.0,2012-10-07,848.0,0,2396.0,33.722359,-3.047122e+00,18175,0,...,5,0,0,2,2,4,2,1,0,0
25,61136,200.0,2011-02-23,2046.0,1726,2396.0,34.929592,-9.152872e+00,45433,0,...,2,0,0,2,2,1,1,1,1,1
26,28799,0.0,2013-02-18,1317.0,986,2396.0,35.424443,-1.057969e+01,20256,0,...,5,0,0,0,0,8,0,2,1,1
27,46825,0.0,2011-04-10,326.0,0,1111.0,35.894877,-6.147522e+00,442,0,...,1,5,3,0,0,2,6,1,4,1
28,44718,0.0,2013-02-04,1837.0,0,2396.0,0.000000,-2.000000e-08,40629,0,...,0,2,3,2,2,4,2,1,0,0
29,37350,0.0,2013-02-20,1331.0,1309,1149.0,36.291761,-5.242313e+00,6916,0,...,5,0,0,3,3,6,4,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14820,52228,0.0,2013-01-27,1096.0,265,2089.0,38.504640,-1.016990e+01,5288,0,...,5,0,0,3,3,6,4,2,1,1
14821,70038,5.0,2013-03-29,828.0,1322,2396.0,37.261731,-3.235687e+00,36025,0,...,1,0,0,2,2,8,0,2,1,1
14822,25901,50.0,2013-01-22,754.0,640,1525.0,39.297410,-1.092504e+01,4555,0,...,1,0,0,1,1,1,1,1,1,1
14823,21131,0.0,2011-04-03,NaN,0,NaN,33.918953,-9.298466e+00,31495,0,...,3,0,0,2,2,1,1,1,1,1
14824,26580,0.0,2011-04-20,798.0,574,2165.0,37.070462,-6.575076e+00,9918,0,...,5,0,0,1,1,4,2,1,0,0
14825,66059,0.0,2013-02-02,144.0,331,1850.0,38.761961,-1.091314e+01,17726,0,...,5,0,0,1,1,2,6,1,0,0
14826,32944,0.0,2012-10-24,1624.0,0,1565.0,32.243937,-3.311621e+00,36859,0,...,3,0,0,2,2,4,2,1,0,0
14827,13686,0.0,2011-07-23,55.0,0,31.0,32.985694,-2.734208e+00,8440,0,...,4,0,0,2,2,4,2,1,0,0
14828,8471,50.0,2011-02-20,2135.0,78,2403.0,39.254272,-7.060921e+00,36826,0,...,1,5,3,2,2,2,6,1,3,3
14829,19620,0.0,2013-01-03,952.0,836,1123.0,35.227320,-1.103905e+01,28526,0,...,3,0,0,2,2,1,1,1,1,1
14830,74162,0.0,2013-03-19,72.0,1651,572.0,37.962243,-4.494348e+00,29827,0,...,5,0,0,1,1,1,1,1,1,1
14831,37994,0.0,2012-10-26,55.0,0,2396.0,0.000000,-2.000000e-08,7477,0,...,5,5,3,2,2,4,2,1,0,0
14832,71151,0.0,2013-03-25,2118.0,1393,787.0,36.930169,-3.255077e+00,956,0,...,3,4,5,2,2,2,6,1,1,1
14833,45017,1000.0,2011-03-05,2118.0,1729,1361.0,34.302104,-9.455737e+00,18590,0,...,4,0,0,2,2,1,1,1,1,1
14834,12592,0.0,2011-03-27,404.0,0,2396.0,35.840727,-4.633272e+00,14716,0,...,2,0,0,1,1,1,1,1,1,1
14835,58693,0.0,2013-01-25,358.0,0,2396.0,32.442886,-3.644662e+00,15790,0,...,3,0,0,2,2,4,2,1,0,0
14836,57539,0.0,2011-03-18,60.0,-7,2181.0,39.140091,-7.477423e+00,45254,0,...,5,0,0,2,2,4,2,1,0,0
14837,71252,500.0,2013-02-10,1891.0,1241,639.0,30.114667,-4.162845e+00,1651,0,...,4,0,0,2,2,2,6,1,0,0
14838,7869,3000.0,2011-03-11,2118.0,2046,1361.0,34.345525,-9.547077e+00,18590,0,...,4,0,0,2,2,1,1,1,1,1
14839,57316,0.0,2011-03-11,1541.0,347,242.0,38.613415,-4.815222e+00,24044,0,...,5,0,0,1,1,1,1,1,1,1
14840,59757,0.0,2013-02-24,1549.0,1291,1764.0,35.345384,-9.831170e+00,42538,0,...,5,0,0,2,2,8,0,2,1,1
14841,64579,0.0,2012-10-26,1837.0,0,2396.0,0.000000,-2.000000e-08,44292,0,...,3,0,0,2,2,4,2,1,0,0
14842,57731,600.0,2013-01-27,1328.0,808,2396.0,29.740224,-4.882705e+00,34397,0,...,2,0,0,2,2,8,0,2,4,1
14843,65541,0.0,2013-02-04,1993.0,1641,2102.0,29.768139,-4.480618e+00,13178,0,...,5,0,0,2,2,1,1,1,3,3
14844,68174,0.0,2012-11-07,295.0,0,2396.0,34.096878,-3.079689e+00,31443,0,...,6,0,0,2,2,4,2,1,0,0
14845,39307,0.0,2011-02-24,842.0,34,891.0,38.852669,-6.582841e+00,40883,0,...,5,0,0,2,2,8,0,2,1,1
14846,18990,1000.0,2011-03-21,1571.0,0,2254.0,37.451633,-5.350428e+00,39851,0,...,4,5,3,1,1,4,2,1,0,0
14847,28749,0.0,2013-03-04,NaN,1476,NaN,34.739804,-4.585587e+00,17676,0,...,5,0,0,1,1,7,5,2,1,1
14848,33492,0.0,2013-02-18,1317.0,998,2396.0,35.432732,-1.058416e+01,2125,0,...,5,0,0,1,1,8,0,2,1,1
14849,68707,0.0,2013-02-13,952.0,481,1123.0,34.765054,-1.122601e+01,9776,0,...,5,0,0,0,0,1,1,1,1,1

In [7]:
df.columns

Index([u'id', u'amount_tsh', u'date_recorded', u'funder', u'gps_height',
       u'installer', u'longitude', u'latitude', u'wpt_name', u'num_private',
       u'basin', u'subvillage', u'region', u'region_code', u'district_code',
       u'lga', u'ward', u'population', u'public_meeting', u'recorded_by',
       u'scheme_management', u'scheme_name', u'permit', u'construction_year',
       u'extraction_type', u'extraction_type_group', u'extraction_type_class',
       u'management', u'management_group', u'payment', u'payment_type',
       u'water_quality', u'quality_group', u'quantity', u'quantity_group',
       u'source', u'source_type', u'source_class', u'waterpoint_type',
       u'waterpoint_type_group'],
      dtype='object')

In [13]:

df.dtypes

df['id'].value_counts(normalize=True)

4094     0.000067
39654    0.000067
35588    0.000067
58105    0.000067
27384    0.000067
70391    0.000067
33525    0.000067
68340    0.000067
15090    0.000067
41786    0.000067
17133    0.000067
14730    0.000067
68374    0.000067
22727    0.000067
68324    0.000067
14451    0.000067
47842    0.000067
62171    0.000067
5566     0.000067
60120    0.000067
39638    0.000067
66261    0.000067
32935    0.000067
8913     0.000067
49869    0.000067
51916    0.000067
62155    0.000067
57539    0.000067
39686    0.000067
4871     0.000067
           ...
70372    0.000067
54752    0.000067
60951    0.000067
24033    0.000067
17938    0.000067
54800    0.000067
48653    0.000067
69131    0.000067
67082    0.000067
58886    0.000067
3574     0.000067
18215    0.000067
52739    0.000067
54784    0.000067
11775    0.000067
9726     0.000067
15869    0.000067
36347    0.000067
38392    0.000067
28151    0.000067
26102    0.000067
19955    0.000067
50674    0.000067
54768    0.000067
15853    0.000067
1514     0.000067
5608     0.000067
26086    0.000067
19939    0.000067
65536    0.000067
Name: id, Length: 14850, dtype: float64

In [17]:
pd.isnull(df.installer).value_counts()

False    13973
True       877
Name: installer, dtype: int64

In [19]:
type(df)

pandas.core.frame.DataFrame

In [50]:
train_label = pd.read_csv("Training_set_labels.csv")

column_labels = list(train_label.columns.values)
column_labels.remove("id")

for i in column_labels:
    unique_value = train_label[i].unique()
    size=len(unique_value)
    print(size)
    for j in range(size):
        if unique_value[j] != "nan":
            train_label.loc[train_label[i] == unique_value[j], i] = j

train_label.to_csv("train_label_clean.csv", index=False)

train_label

3

          id  status_group
0      69572             0
1       8776             0
2      34310             0
3      67743             1
4      19728             0
5       9944             0
6      19816             1
7      54551             1
8      53934             1
9      46144             0
10     49056             0
11     50409             0
12     36957             0
13     50495             0
14     53752             0
15     61848             0
16     48451             1
17     58155             1
18     34169             2
19     18274             0
20     48375             0
21      6091             0
22     58500             2
23     37862             0
24     51058             0
25     22308             2
26     55012             0
27     20145             0
28     19685             1
29     69124             0
...      ...           ...
59370  14796             0
59371  20387             1
59372  29940             1
59373  15233             0
59374  49651             0
59375  50998             0
59376  34716             1
59377  43986             1
59378  38067             0
59379  58255             0
59380  30647             1
59381  67885             1
59382  47002             1
59383  44616             0
59384  72148             1
59385  34473             0
59386  34952             0
59387  26640             0
59388  72559             0
59389  30410             0
59390  13677             0
59391  44885             1
59392  40607             1
59393  48348             0
59394  11164             1
59395  60739             0
59396  27263             0
59397  37057             0
59398  31282             0
59399  26348             0

[59400 rows x 2 columns]

In [ ]:
train_value = pd.read_csv("Training_set_values.csv")
test = pd.read_csv('Test_set_values.csv')


column_labels = list(train_value.columns.values)
column_labels.remove("id")
column_labels.remove("amount_tsh")
column_labels.remove("date_recorded")
column_labels.remove("gps_height")
column_labels.remove("longitude")
column_labels.remove("latitude")
column_labels.remove("num_private")
column_labels.remove("region_code")
column_labels.remove("district_code")
column_labels.remove("population")
column_labels.remove("construction_year")

test = test.fillna(test.median())

for i in column_labels:
    unique_value = list(set(np.concatenate((train_value[i].unique(), test[i].unique()))))
    size = len(unique_value)
    print(size)
    for j in range(size):
        if unique_value[j] != "nan":
            test.loc[test[i] == unique_value[j], i] = j

    test = test.fillna(test.median())

    test.to_csv("test.csv", index = False)

test

2141
2411
45684

In [ ]:
import os
import matplotlib.pyplot as plt
from sklearn.svm import LinearSVC
from sklearn.grid_search import GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.cross_validation import train_test_split

train=pd.read_csv("Training_set_values.csv")
test=pd.read_csv("Test_set_values.csv")

train

In [29]:
pd.isnull(df.num_private).value_counts(normalize=True)

False    1.0
Name: num_private, dtype: float64